<!DOCTYPE html>
<html>
<head>
    <title>Todo List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <ul>
                <li><a href="{% url 'todo_list_create' %}">Create a new list</a></li>
                <li><a href="{% url 'todo_list_update' todo_list.id %}">Edit </a></li>
                <li><a href="{% url 'todo_list_delete' todo_list.id %}">Delete </a></li>
                <li><a href="{% url 'todo_item_create' %}">Create a new item</a></li>
            </ul>
            <h2>Tasks</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items %}
                        <tr>
                            <td>{{ todo_item.task }}</td>
                            <td>{{ todo_item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
