<!DOCTYPE html>
<html>
<head>
    <title>Update TodoItem</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}

                <label for="task">Task:</label>
                <input type="text" id="task" name="task" value="{{ form.task.value }}"><br><br>

                <label for="due_date">Due Date:</label>
                <input type="text" id="due_date" name="due_date" value="{% if form.due_date.value %}{{ form.due_date.value|date:"Y-m-d" }}{% endif %}" placeholder="Due Date"><br><br>

                <input type="checkbox" id="is_completed" name="is_completed" {% if form.is_completed.value %}checked{% endif %}>
                <label for="is_completed">Is completed</label><br><br>

                <label for="list">Select List:</label>
                <select id="list" name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}" {% if todo_list.id == form.list.value %}selected{% endif %}>{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br><br>

                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
